/* 확인필요 */

.form__hr{
    margin-top: 40px;
    
    width: 382px;
}

.form__hr__or__text{
    margin-top: -19px;

    background-color: #FFFFFF;
    padding: 0px 24px;

    display: flex;
    justify-content: center;
    align-items: center;

    /* Layout Properties */
    width: 22px;
    height: 19px;

    /* UI Properties */
    text-align: center;
    font: normal normal normal 16px/19px Pretendard;
    letter-spacing: 0px;
    color: #707070;
    opacity: 1;
}

.logos{
    margin-top: 28px;
    margin-bottom: 40px;

    width: 382px;

    display: flex;
    justify-content: space-around;
}

.logo__button{
    background-color: transparent;
    border: none;
    outline: none;

    border-radius: 100%;
    width: 54px;
    height: 54px;

    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;
}

.logo{
    border-radius: 100%;
    width: 54px;
    height: 54px;
    background-color: lightgrey;

    cursor: pointer;
}

/* 확인필요 */
