#banner_container {
	margin: 48px auto 0 auto;
	text-align: center;

	width: 1480px;
	overflow: scroll;
}

#slideList {
	display: flex;
	flex-direction: row;
}

.banner {
	display: flex;
	z-index: -1; /* 배너를 다른 요소들보다 더 낮은 층위로 보냄 */
	flex-shrink: 0;
	width: 100%;
	position: relative;
}

.showSlideNum {
	text-align: center;
	font: normal normal normal 16px/19px Pretendard;
	letter-spacing: 0px;
	color: #ffffff;
	background: #000000 0% 0% no-repeat padding-box;
	border-radius: 15px;
	opacity: 0.3;
	top: 581px;
	left: 1575px;
	position: absolute;
	width: 50px;
	height: 28px;
	display: flex;
	justify-content: center;
	align-items: center;
}
