body {
	margin: 0;
	padding: 0;
}

#header_container {
	display: flex;
	justify-content: space-around;
	top: 0px;
	left: 0px;
	width: 1920px;
	background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
	background: #ffffff 0% 0% no-repeat padding-box;
	opacity: 1;
	border-bottom: 0.5px solid var(--unnamed-color-c0c0c0);
	border-bottom: 0.5px solid #c0c0c0;
}

#logo_container {
	height: 72px;
	display: flex;
	align-items: center;
}

.logo {
	width: 110px;
	height: 39px;
	position: absolute;
	top: 22px;
}

.search {
	height: 40px;
	width: 580px;
	display: flex;
	align-items: center;
	background-color: #ebebeb;
	border-radius: 4px;
	margin-top: 20px;
	margin-bottom: 12px;
}

.search_icon {
	height: 19.8px;
	width: auto;
	position: relative;
	left: 12.44px;
}

.search_input {
	border: none;
	height: 30px;
	width: 90%;
	font-size: medium;
	background-color: #ebebeb;
	position: relative;
	left: 20px;
}

.top_icon {
	width: 32px;
	height: 32px;
}

.icons {
	width: 141.23px;
	display: flex;
	justify-content: space-between;
	margin-top: 28px;
	margin-bottom: 12px;
	padding-right: 30px;
}
