#footer_container {
	width: 1920px;
	height: 344px;
	background-color: #fafafa;
	padding-left: 220px;
	margin-top: 144px;
}

.footer_menu {
	width: 400px;
	display: flex;
	justify-content: space-between;
	padding-bottom: 54px;
	padding-top: 74px;
}

.footer_menu_item {
	text-align: center;
	font: normal normal bold 18px/16px Pretendard;
	letter-spacing: 0px;
	color: #000000;
}

#footer_info {
	text-align: left;
	font: normal normal normal 16px/8px Pretendard;
	letter-spacing: 0px;
	color: #707070;
}

#footer_info > p :first-child {
	margin-bottom: 50px;
}
