body {
	margin: 0;
	padding: 0;
}

.container__wrapper {
    width: 100vw;
    min-width: 1920px;
    min-height: 1080px;

    display: flex;
    justify-content: center;
}

.container {
    position: relative;
    /* Layout Properties */
    top: 0px;
    left: 0px;
    width: 1920px;
    height: 1080px;

    /* UI Properties */
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
}

.form {
    position: absolute;

    /* Layout Properties */
    top: 210px;
    left: 745px;
    width: 430px;

    /* UI Properties */
    border: 1px solid #FF0000;
    opacity: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.novo__logo {
    margin-top: 45px;
    width: 110px;
    height: 39px;
}

.button__back {
    width: 36px;
    height: 36px;
    border: none;
    /* 테두리 없음 */
    border-radius: 5px;
    /* 버튼 테두리의 둥글기 정도 */

    /* 그림자 효과를 설정합니다. */
    box-shadow: 0px 2px 5px #C0C0C0;

    position: absolute;
    top: 47px;
    left: 24px;
    border-radius: 100%;

    padding: 0px;

    cursor: pointer;
}

.button__back__img {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

#form__title {
    margin-top: 32px;
    /* Layout Properties */
    height: 24px;

    /* UI Properties */
    text-align: center;
    font: normal normal bold 20px/24px Pretendard;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

#form__text {
    margin-top: 28px;
    /* Layout Properties */
    height: 44px;

    /* UI Properties */
    text-align: center;
    font: normal normal normal 16px/19px Pretendard;
    letter-spacing: 0px;
    color: #707070;
    opacity: 1;
}

.input {
    padding: 0px 16px;

    /* Layout Properties */
    width: calc(382px - 32px);
    height: 52px;
    /* UI Properties */
    border: 1px solid #707070;
    border-radius: 4px;
    opacity: 1;

    &:focus {
        outline: none;
        border: 2px solid #FF0000;
        border-radius: 4px;
        opacity: 1;
    }
}

#input__email {
    margin-top: 20px;
}

.error__message{
    margin-top: 8px;
    margin-left: 40px;
    margin-right: 24px;
    width: calc(100% - 64px);

    text-align: left;
    font: normal normal normal 16px/19px Pretendard;
    letter-spacing: 0px;
    color: #FF0000;
    opacity: 1;
}

#error__message__name{
    height: 19px;
}

.button__submit {
    margin-top: 20px;
    margin-bottom: 264px;

    /* Layout Properties */
    width: 382px;
    height: 52px;
    /* UI Properties */
    background-color: #FF6B01;
    border: 1px solid #FF6B01;
    border-radius: 4px;
    opacity: 1;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}

.button__submit__text {
    height: 24px;

    text-align: center;
    font: normal normal bold 20px/24px Pretendard;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}